<router-outlet></router-outlet>
<h1>{{onInitDateString}}</h1>

<div (click)="generateWavFileButton_click()">Generate WAV file</div>

<canvas [class]="'cursor-' + cursorType"
        id="myCanvas"
        width="1400"
        height="700"
        style="border: 1px solid #000">
</canvas>

<div class="buttons-wrapper">
  <div class="btn"
       (click)="undoMaxXYChange()">Undo</div>
  <div class="btn"
       (click)="setDragMode()">Drag</div>
  <div class="btn"
       (click)="setZoomMode()">Zoom</div>
  <div class="btn"
       (click)="zoomOut()">Zoom Out</div>
  <div class="btn"
       (click)="setDrawMarkersMode()">Draw markers</div>
  <div class="btn"
       (click)="setRemoveMarkersMode()">Remove markers</div>
  <div class="btn"
       (click)="saveMarkers()">Save markers</div>
  <div class="btn"
       (click)="moveLeft()">Left</div>
  <div class="btn"
       (click)="moveRight()">Right</div>
  <div class="btn"
       (click)="loadView()">Load view</div>
  <div class="btn"
       (click)="saveView()">Save view</div>
  <div *ngIf="true"
       class="btn"
       (click)="trimLeft(1)">Trim L +</div>
  <div *ngIf="true"
       class="btn"
       (click)="trimLeft(2)">Trim L -</div>
  <div class="btn"
       (click)="trimRight(1)">Trim R +</div>
  <div class="btn"
       (click)="trimRight(2)">Trim R -</div>
  <div class="btn"
       (click)="extendByRevertingSave()">Save wav</div>
  <div class="btn"
       (click)="logExtendByRevertingTrim()">Log trim</div>
  <div class="btn"
       (click)="logExtendByRevertingFadeChange(1)">Fade +</div>
  <div class="btn"
       (click)="logExtendByRevertingFadeChange(2)">Fade -</div>
</div>
