.waveFormWrapper {
  min-width: 500px;
  min-height: 400px;
}

.waveFormWrapperSecond {
  top: 1200px;
  position: absolute;
}

.waveFormSample {
  height: 1px;
  background: rebeccapurple;
  width: 2px;
  height: 100px;
  position: absolute;
  //left: 50px;
  //top: 0px;
  bottom: 50%;
  transform-origin : 50% 100%;
}

.buttons-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.btn {
  margin-right: 10px;
  cursor: pointer;
  margin-right: 10px;
  background: #efefef;
  width: 60px;
}

.sum-delta-red {
  background: red !important;
}

.sum-delta-green {
  background: greenyellow !important;
}

.cursor-grab {
  cursor: grab;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-pointer {
  cursor: pointer;
}

.sum-wrapper {
  width: 200px;
  background: red;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.sum {
  background: #000;
  color: yellow;
  min-width: 1px;
  height: 30px;
}
